* text=auto !eol
/AUTHORS -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/NOTES -text
/README -text
/apertium-grn.grn.lexc -text
/apertium-grn.grn.rlx -text
/apertium-grn.grn.twol -text
/apertium-grn.pc.in -text
/autogen.sh -text
/configure.ac -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
